body {

	background-image: url(http://image.noelshack.com/fichiers/2018/46/1/1542017496-milky-way.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;

}

footer {

	position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-image: url(http://image.noelshack.com/fichiers/2018/46/1/1542017496-milky-way.jpg);
    color: white;
    text-align: center;

}

nav {

	background-image: url(http://image.noelshack.com/fichiers/2018/46/1/1542017496-milky-way.jpg);
}

#hometext {

	padding-top: 100px;
	text-align: center;

}

#divradio {

}

.center-div {

  position: absolute;
  margin: auto;
  margin-top: 10%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.round-image {

	border-radius: 50%;
	width: 100%;
    height: auto;
}

/* Style the tab */

.tab button:focus {outline:0;}

.tab {
	
	margin-top: 80px;
	margin-left: 25%;
	margin-right: 25%;
    overflow: hidden;
    border: 1px solid #ccc;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    background-color: #f1f1f1;

}

/* Style the buttons that are used to open the tab content */
.tab button {
	
	margin: 0 auto;
	width: 25%;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

/* Remove blue border when clicked*/


/* Change background color of buttons on hover */
.tab button:hover {

    background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {

    background-color: #ccc;
}

/* Style the tab content */
.tabcontent {

	transition-property: all;
	transition-duration: .5s;
	
	text-align: center;
    display: none;
    padding: 6px 12px;
    border: 1px solid #ccc;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-left: 25%;
	margin-right: 25%;
    border-top: none;
    background-color: transparent;
    color: white;

}

/* Volume Slider */

.slidecontainer {
	text-align: center;
    width: 100%;
}

.slider {
	
    -webkit-appearance: none;
    width: 20%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 24px;
    height: 24px;
    border: 0;
    background: url('http://image.noelshack.com/fichiers/2018/46/1/1542038590-if-music-player-1645996.png');
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 24px;
    height: 24px;
    border: 0;
    background: url('http://image.noelshack.com/fichiers/2018/46/1/1542038590-if-music-player-1645996.png');
    cursor: pointer;
}